
.loadcontainer {
    width: 50%;
    min-width: 350px;
    overflow: hidden;
    margin: auto;
    padding: 0.556rem;
}


.headingcss {
    font-size: 15px;
    display: flex !important;
    flex-basis: 33.33%;

    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.secondaryHeading {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.card-text {
    word-break: break-word;
}

body {
    font-family: "Lato", sans-serif;
}

.dropdowncss {
    width: 2rem;
    padding-left: 1rem !important;
}

.formControl {
    min-width: 120px !important;
    border: white !important;
}

.centering {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.backbutton {

}

.nextbutton {

}


