@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

body {
    font-family: "Lato", sans-serif;
    background-color: #bf7a6b;
    background-image: -webkit-linear-gradient(bottom left, #bf7a6b 0%, #e6d8a7 100%);
    background-image: linear-gradient(to top right, #bf7a6b 0%, #e6d8a7 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.inputcontainer {
    position: absolute;

    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;

}

.accordioncontainer {
    /*position: absolute;*/

    right: 0;
    bottom: 3.333rem;
    left: 0;
    padding-bottom: 3.333rem;


    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;

}

.form {
    align-content: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 22.222rem;
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 3.3rem;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 0.5rem 0.83rem;
    display: block;
    width: calc(100% - 2.2rem);
    pointer-events: none;
    z-index: 20;
    height: 2.2rem;
    line-height: 2.2rem;
    color: #999;
    border-radius: 0.27rem 0.55rem 0.55rem 0.27rem;
    font-weight: 300;
}

.file-upload-wrapper:before {
    content: "Upload";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 3.3rem;
    background: #4daf7c;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 0.889rem;
    line-height: 3.3rem;
    padding: 0 0.889rem;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 0.3rem 0.3rem 0;
}

.file-upload-wrapper:hover:before {
    background: #3d8c63;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 2.2rem;
    display: block;
    cursor: pointer;
    width: 100%;
}

.again-upload {
    position: relative;
    height: 3.3rem;
    width: 100%;
}

.again-upload:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    /*background: #fff;*/
    padding: 0.5rem 0.83rem;
    display: block;
    width: calc(100% - 2.2rem);
    pointer-events: none;
    z-index: 20;
    height: 2.2rem;
    line-height: 2.2rem;
    color: #999;
    border-radius: 0.27rem 0.55rem 0.55rem 0.27rem;
    font-weight: 300;
}

.again-upload:before {
    content: "New File";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 3.3rem;
    background: #ff2a2a;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 0.889rem;
    line-height: 3.3rem;
    padding: 0 0.889rem;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 0.3rem 0.3rem 0;
}

.again-upload:hover:before {
    background: #7c2222;
}

.footer {
    text-align: center;
    /*background-color: rgba(255, 255, 255, 0.3) !important;*/
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3.333rem;
    width: 100%;
}

.footerdiv {
    display: block;
    padding: 20px;
    height: 60px;
    width: 100%;
}
